extend ../../app/views/layout

//- Give it the right title of this article
block title
  title= user.name

//- Set the
block content
  article.user
    header
      a(href=user.image target='_blank')
        img.profile(src=user.image alt='User image')
      h1= user.name

    //- p= text.userdata + ':'

    - const langs = { en: 'English', es: 'Español' };

    div.flex.two
      div Username:
      div= user.username
      div Email:
      div= user.email
      div Language:
      div= langs[user.language] || user.language
      div Points:
      div= user.points

    a.button(href="/user/logout") Logout
